IndentWidth: 4
PointerAlignment: Right
SpaceAfterCStyleCast: true
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Attach
ColumnLimit: 0
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignTrailingComments: false
SortIncludes: Never